<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>My Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<!-- Title section -->
<div class="jumbotron">
    <div class="container">
        <h3>This is the title of the Forum!</h3>
        <h1 class="text-primary display-3">
            Write your own post!
        </h1>
    </div>
</div>

<!-- Form section -->
<div class="container">
    <p></p>
    <form action="/" method="post">
        <input id="inputTitle" class="form-control" type="title" placeholder="Give this a title">
        <input id="inputContent" class="form-control" type="content" placeholder="The body of your article">
        <button name="nextbutton" class="btn btn-lg btn-success" type="submit" >Done</button>
    </form>
</div>

</body>
</html>